
.App-logo {
    height: 50px;
    width: 44.65px;
    float: left;
    margin-top: 86px;
    margin-left: 46px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}
.qollabi-dev-tribu {
    height: 50px;
    width: 194px;
    color: #2F345B;
    font-family: "Ubuntu Medium";
    font-size: 24px;
    line-height: 50px;
    text-align: center;
}
